* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 80%;
    margin: 48px auto;
    height: 80vh;

    padding: 1rem;

    background-color: darkslateblue;
    color: whitesmoke;
}

.row {
    display: flex;
    flex-direction: column;

    width: 100%;
    flex-wrap: wrap;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}